*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #090909;
}
.navBar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.nav-branding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease-in;
}
.nav-link:hover{
    color: #098909;
}
ul li{
    list-style-type: none;

}
 a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    margin: 5px auto;
    width: 25px;
    height: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: #fff;
}
@media screen and (max-width: 768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        }
    .nav-menu{
        position: fixed;/*menu remains on the screen*/
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}